* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url("/src/components/somefolder/images/dzadzjan.png") no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #efffff;
  width: 100%;
  min-width: 315px;
  display: flex;
  justify-content: left;
  padding: 30px;
  float: right ;
}

@media(min-width: 2000px) {
  body {
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    padding: 30px;
    right: 550px
  }
}




