* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url("/src/components/somefolder/images/signup.png") no-repeat;
  background-size: contain;
  background-position: right;
  width: 95%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  padding: 45px;
  float: right ;
}